.Note .list-actions {
    padding-top: 0rem;
    padding-left: 23rem;
    /*margin-left: -2rem;*/
    -ms-flex-line-pack: center;
    align-content: left;
    width: 0%;
    height: 0%;
  }
.Note button {
    border: none;
    background: none;
    padding: 0;
    align-content: right;
    font-size: 25px;
    color: #999;
  }
.Note button[type=submit] {
    background-color: #008bf8;
    /* background-color: #FECB9D; */
    border-radius: 4px;
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
  }

.Note button:hover {
  color: black
}
.Note button {
    color: #999;
    font-size: 2rem;
    margin: 0;
    align-content: right;
    align-items: flex-end; 
  }

